.App-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 1fr;

  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.header {
  background-color: aqua;
  grid-area: header;
}

.header img {
  width: 40px;
  border-radius: 30px;
}

.nav {
  background-color: rgb(36, 122, 172);
  grid-area: nav;
}

.content {
  background-color: red;
  grid-area: content;
}

.cont1{
  position: absolute;
  width: 250px;
  height: 250px;
  background-color:rgb(214, 226, 42)
}